#pot {
  bottom: 15%;
  position: absolute;
  -webkit-animation: linear infinite;
  -webkit-animation-name: run;
  -webkit-animation-duration: 5s;
    animation-iteration-count: 3 ;/*cantidad de repeticiones de la animacion*/
}
/*@-webkit-keyframes run {
  0% {
    left: 0; 

  }  
  25% {
left: calc(25% - 120px); 
    animation-play-state: paused;   
  } 
     50% {
left: calc(50% - 120px); 
    animation-play-state: paused;   
  }
    75% {
left: calc(75% - 120px); 
    animation-play-state: paused;   
  }
    100% {
left: calc(100% - 120px); 
    animation-play-state: paused;   
  }
}
*/
 @-webkit-keyframes run {
  0% {
    left: 0;
  }
  48% {
    -webkit-transform: rotateY(0deg); 
  }
  50% { 
    left: calc(100% - 100px);
    -webkit-transform: rotateY(180deg); 
  }
  98% {
    -webkit-transform: rotateY(180deg); 
  }
  100% {
    left: 0;    
     -webkit-transform: rotateY(0deg);
  }
}
*/