/* todo */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}
#contenedor{
    width: 95%;
    max-width: 1200px;
    min-width: 360px;
    margin: 0 auto;
}

/* Cabecera */
header {
    float: left;
    clear: both;    
    width: 100%;
    height: 8em;
    background-color: #35ca58;
}
header #logo-principal{
    float: left;
    margin-left: 1em;
    margin-top: 1em;
    height: 5em;
}
header>h1{
    float: left;
    height: 5em;
    padding: 1em;
}
/* Cuerpo */
#contenido{
    float: left;
    margin-top: 1em;
    padding: 0;
}

/* Navegador */
#contenido #boton-menu{
    height: 1.5em;
    font-size:2em;
    cursor:pointer;
    position: absolute;
    border: 1px solid black;
    border-radius: 25%;
}
#contenido #boton-menu:hover{
    color: grey;
}
#contenido #sidenav{
    padding-top: 3em;
    display: none;
    background-color: red;
    float: left;
}

#sidenav ul li{
    list-style: none;
    padding: 0.5em;
    padding-left: 0.75em;
}
#sidenav ul li:hover{
    color: grey;
    padding-left: 0.90em;
}

/* Main */
#contenido #main{
    float: right;
    padding: 1em;
    padding-left: 3em;
    height: 100%;
}

#contenido #main p{
    padding: 0.5em;
}

/* Pie de pagina */
footer{
    clear: both;    
    width: 100%;
    height: 9em;
    background-color: #35ca58;
}
footer>ul{
    padding: 1em;
}
footer>ul>li{
    list-style: none;
}

/* Media query */
@media screen and (max-width : 315px) {
    #contenedor{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }
    header {
        float: left;
        clear: both;    
        width: 100%;
        height: 5em;
    }
    header #logo-principal{
        float: none;
        height: 5em;
        margin-left: 1em;
        margin-top: 0;
    }
    header>h1{
       display: none;
    }

}
@media screen and (min-width : 315px) and (max-width : 550px) {
    #contenedor{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }
    header {
        float: left;
        clear: both;    
        width: 100%;
        height: 5em;
    }
    header #logo-principal{
        float: left;
        height: 5em;
        margin-top: 0;
    }
    header>h1{
        float: left;
        height: 5em;
        padding: 0.5em;
    }

}




