/* todo */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-collapse: collapse;

}
#contenedor{
    width: 95%;
    max-width: 1350px;
    min-width: 360px;
    margin: 0 auto;
    font-family: 'Arvo', serif;
}
h1{
    font-family: 'Comfortaa', cursive;
}

/* Cabecera */
header {
    float: left;
    clear: both;    
    width: 100%;
    height: 8em;
    background: rgb(37,105,61);
    background: linear-gradient(90deg, rgba(37,105,61,1) 0%, rgba(170,233,40,1) 100%, rgba(37,105,61,1) 100%);
}
header #logo-principal{
    float: left;
    margin-left: 1em;
    margin-top: 1em;
    height: 5em;
}
header>h1{
    float: left;
    height: 5em;
    padding: 1em;
}
header>a{
    float: right;
    margin: 3%;
    padding: 1%;
    color: white;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 0.3em;
}
header>a:hover{
    background-color: rgb(255, 255, 255,0.6);
}
header>a#prueba{
    color: black;
    border: 1px solid black;
}

/* Cuerpo */
#contenido{
    background-color: #F0EBEB;
    float: left;
    padding: 0;
    width: 100%;
}

/* Navegador */
#contenido #boton-menu{
    height: 1.5em;
    font-size:2em;
    cursor:pointer;
    position: absolute;
    border: 1px solid black;
    border-radius: 25%;
}
#contenido #boton-menu:hover{
    color: grey;
}
#contenido #sidenav{
    padding-top: 3em;
    display: none;
    background-color: red;
    float: left;
}

#sidenav ul li{
    list-style: none;
    padding: 0.5em;
    padding-left: 0.75em;
}
#sidenav ul li:hover{
    color: grey;
    padding-left: 0.90em;
}

/* Main */
#contenido #main{
    float: right;
    padding: 1em;
    padding-left: 3em;
    height: 100%;
}

#contenido #main p{
    padding: 0.5em;
    
}
/*codigo formulario*/
#contenido>form{
    margin: 0 auto;
    padding: 2% 10% ;
}
#contenido>form>input{
    width: 100%;
    padding: 1em 1.7em;
    margin: 0.7em 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0.3em;
  }


/* Pie de pagina */
footer {
    float: left;
    clear: both;
    width: 100%;
    background: rgb(37,105,61);
    background: linear-gradient(90deg, rgba(37,105,61,1) 0%, rgba(170,233,40,1) 49%, rgba(37,105,61,1) 100%);
    display: block;
 }

 .contenido-footer {
     width: 95%;
     margin: auto;
     padding: 2em 1em;
     display: flex;
     flex-wrap: wrap;
     box-sizing: border-box;
     justify-content: center;
 }

.footer-items {
    width: calc(100%/3);
    padding: 1em 4em;
    box-sizing: border-box;
}

.footer-items p {
    font-size: 1em;
    text-align: justify;
    line-height: 2em;
}



.border1 {
    height: 3px;
    width: 3em;
    background: #ff9800;
    color: #ff9800;
    background-color: #ff9800;
    border: 0px;
}

.footer-items ul {
    list-style: none;
    font-size: 1em;
    letter-spacing: 0.5px;  
 }

.footer-items ul a {
    text-decoration: none;
    color: black;
    outline: none;
    transition: 0.3s;
}

.footer-items ul a:hover {
    color: grey;
}

.footer-items ul li {
    margin: 0.5em 0;
    height: 2em;
}

.footer-items li i {
    margin-right: 2em;
}

.footer-bottom {
    width: 100%;
    padding: 1em;
    font-size: 12px;
    text-align: center;
}


/* Media query */
@media screen and (max-width : 387px) {
    #contenedor{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }
    header {
        float: left;
        clear: both;    
        width: 100%;
        height: 5em;
    }
    header #logo-principal{
        float: none;
        height: 5em;
        margin-left: 1em;
        margin-top: 0;
    }
    header>h1{
       display: none;
    }

}
@media screen and (min-width : 387px) and (max-width : 550px) {
    #contenedor{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }
    header {
        float: left;
        clear: both;    
        width: 100%;
        height: 5em;
    }
    header #logo-principal{
        float: left;
        height: 5em;
        margin-top: 0;
    }
    header>h1{
        float: left;
        height: 5em;
        padding: 0.5em;
    }

}




